.slide {
  width: 100%;
  height: 350px;
  background: url("http://www.ihandygroup.com/images/banners/our-app-banner.jpg") center center no-repeat;
  background-size: cover;
}
.slide p {
  width: 100%;
  font-size: 7rem;
  color: #fff;
  text-align: center;
  padding-top: 10%;
}
#productlist {
  width: 95%;
  box-sizing: border-box;
  margin: 80px auto;
  overflow: hidden;
}
#productlist:last-child {
  padding-bottom: 183px;
}
#productlist .left {
  width: 48%;
  height: 610px;
  float: left;
  box-sizing: border-box;
  padding: 51px 0 200px 0;
}
#productlist .left p {
  width: 180px;
  line-height: 42px;
  height: 42px;
  color: black;
  border: 2px solid black;
  margin: 3.5% auto;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.65;
  transition: opacity 0.5s;
}
#productlist .left p:hover {
  opacity: 1;
}
#productlist .left img {
  width: 70px;
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  /*margin:0 auto;*/
}
#productlist .left h4 {
  letter-spacing: 1.4px;
  color: black;
  padding: 20px 30px;
  font-family: AvenirLTStdLight;
  font-size: 48px;
}
#productlist .left h5 {
  color: black;
  opacity: 0.9;
  font-family: AvenirLTStdLight;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 36px 30px;
  line-height: 30px;
}
#productlist .right {
  width: 48%;
  height: 610px;
  float: right;
  box-sizing: border-box;
}
#productlist .right img {
  width: 100%;
  height: 100%;
  display: block;
}
